<nav class="navbar shadow-1 primary">
	<a href="#" target="_blank" class="navbar-brand">JeBénévole.fr</a>
	<div class="navbar-menu ml-auto">
		<button data-target="administration" class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
			Administration
		</button>
		<a href="#" class="sidenav-link mx-2">Offres</a>
		<a href="#" class="sidenav-link mx-2">Demandes</a>
		<a href="#" class="sidenav-link mx-2">Catégories</a>
		<a href="#" class="sidenav-link mx-2">Connexion</a>
	</div>
</nav>
